.table-nav{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.table-title{
    color: #656768;
}

.input-field{
    border-radius: 5rem;
    width: 30rem;
    background-color: #c6c8c9;
}

.bar-color{
    background-color: #656768;
}

.table-bottem-text{
    display: flex;
}